/*Zerando as predefinições do navegador*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/*Corpo do codigo*/
.laidng-page {
  width: 100%;
  background-image: linear-gradient(#f9f9f9, #83f4ff);
  background-repeat: no-repeat;
  width: 430px;
  height: 932px;
  top: -467px;
  left: -215px;
}

/*header*/
header {
  background-color: #f2fffe;
  display: flex;
  justify-content: space-between;
}

.conteinerLogo {
  display: flex;
  align-items: center;
}

.LogoIMGdomdoces {
  display: flex;
  width: 6.25rem;
  height: 6.25rem;
  top: 0.18rem;
}

.domdoces {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.25rem;
  display: flex;
  flex-direction: column;
  text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.h1 {
  position: absolute;
  width: 6.68rem;
  height: 1.8125rem;
  top: 1.37rem;
  left: 6.25rem;
}

.h2 {
  position: absolute;
  width: 6.12rem;
  height: 1.56rem;
  top: 3.18rem;
  left: 9.06rem;
}

.switch {
  width: 3.75rem;
  height: 3.75rem;
  top: 1.43rem;
  left: 22.68rem;
  margin: 0.62rem;
}

/*chocolate escorrendo */
.chocolateEscorrendo img {
  width: 26.87rem;
  height: 6.25rem;
  top: 5.56rem;
}

/*Body da pagina*/
.containerBody {
  display: flex;
  justify-content: end;
}

.txt1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  width: 235px;
  height: 288px;
  top: 300px;
  left: 2px;
  position: absolute;
}

/*imagem da pagina*/
.brownies-empilhados {
  width: 343px;
  height: 297px;
  top: 169px;
  left: 143px;
  margin-left: 199.9px;
}

.txt2 {
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  width: 310px;
  height: 171px;
  top: 544px;
  left: 160px;
}

.OvosPascoa {
  position: absolute;
  width: 193px;
  height: 267px;
  top: 594px;
  left: -1px;
  border-radius: 41px 0px 0px 0px;
}

.pecaJa {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;

  width: 90px;
  height: 32px;
  top: 667px;
  left: 323px;

  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;

  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
  width: 110px;
  height: 54px;
  top: 690px;
  left: 313px;
}

.pecaJa img {
  width: 25px;
  height: 25px;
  top: 667px;
  left: 388px;
}

.FundodDaPagina {
  position: absolute;
  width: 446.46px;
  height: 111.32px;
  top: 837px;
  right: -18px;
}

/*QUEM SOMOS NÓS*/
.whoareus {
  background: linear-gradient(180deg, #90f6ff 0%, #ffffff 100%);

  width: 430px;
  height: 932px;
  top: -467px;
  left: 255px;
}

.quem {
  /*typography*/
  color: #f3ffff;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 60px;
  text-align: center;

  /*layout*/
  position: absolute;
  width: 411px;
  height: 137px;
  top: 996px;
  left: 9px;

  /*border*/
  -webkit-text-stroke: 1px rgba(2, 141, 141, 0.993);

  /*shadows*/
  text-shadow: -5px 6px 4px rgba(0, 0, 0, 0.25);
}

.apresentaçãoDosProdutostxt {
  /*layout*/
  position: absolute;
  width: 191px;
  height: 231px;
  top: 1099px;
  left: 19px;

  /*typography*/
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;

  /*shadow*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.025);
}

.apresentaçãoDosProdutosimg {
  /*layout*/
  position: absolute;
  width: 212.48px;
  height: 203px;
  top: 1100px;
  left: 210px;
  width: 212.48px;
  border-radius: 41px 0px 0px 0px;
}

/*infos pequenas*/

.imgmoedas {
  position: absolute;
  width: 23px;
  height: 24px;
  top: 1380px;
  left: 196px;
}

.txtmoedas {
  /*layout*/
  position: absolute;
  width: 173px;
  height: 62px;
  top: 1405px;
  left: 128px;

  /*typography*/
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
}

.imgentrega {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1480px;
  left: 65px;
}

.txtentrega {
  /*typography*/
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;

  /*layout*/
  width: 103px;
  height: 69px;
  top: 1505px;
  left: 31px;
}

.imgmapa {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1480px;
  left: 324px;
}

.txtmapa {
  /*layout*/
  position: absolute;
  width: 103px;
  height: 69px;
  top: 1505px;
  left: 284px;

  /*typography*/
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
}

/*opções*/
.imgquentinhas {
  display: flex;
  gap: 30px;
  position: absolute;
  width: 75px;
  height: 100px;
  top: 1610px;
  left: 14px;
  border-radius: 37.5px 0px 0px 0px;
}

.txtapresentacao {
  /*layout*/
  position: absolute;
  width: 191px;
  height: 105px;
  top: 1610px;
  left: 225px;

  /*typography*/
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
}

/*fundo da pagina*/

.FundodDaPagina2 {
  position: absolute;
  width: 446.46px;
  height: 111.32px;
  top: 1770px;
  right: -18px;
}

/*produtos*/
.products {
  background-image: linear-gradient(#ffffff 0%, #a9f4fb 100%);
  width: 430px;
  height: 932px;
  top: -467px;
  left: 725px;
}

.titulo {
  /*layout*/
  position: absolute;
  width: 416px;
  height: 137px;
  top: 1950px;
  left: 14px;
  border: 1px 0px 0px 0px;
  color: #ffffff;

  /*typography*/
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: 60px;
  text-align: center;

  /*contorno da letra*/
  -webkit-text-stroke: 1px rgb(100, 100, 100);

  /*sombra*/
  text-shadow: -5px 6px 4px rgba(0, 0, 0, 0.25);
}

/*polygon*/
.caixa-de-img {
  display: flex;
  align-items: center;
}

.caixaDoMeio {
  position: absolute;
  width: 80px;
  height: 150px;
  top: 2046px;
  left: 175px;
  border-radius: 2px 0px 0px 0px;
}

.caixaDaSetaEsquerda {
  position: absolute;
  width: 70px;
  height: 150px;
  top: 2045.7px;
  left: 107px;
}

.caixaDaSetaDireita {
  position: absolute;
  width: 70px;
  height: 150px;
  top: 2045.7px;
  right: 107px;
}

.setaEsquerda {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2105px;
  left: 130px;
  border: 2px 0px 0px 0px;
}

.setaDireita {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2105px;
  right: 130px;
  border: 2px 0px 0px 0px;
}

.imgsdacaixa {
  position: relative;
  width: 130px;
  height: 224px;
  top: 109px;
  left: 159px;
}

/*explicação dos produtos*/
.explicacaochocolate {
  display: flex;
  align-items: center;
}

.ovodapascoa1 {
  position: absolute;
  width: 149.94px;
  height: 200px;
  top: 2250px;
  left: 251px;
  border-radius: 45px 0px 0px 0px;
}

.explicaotexto {
  /*layout*/
  position: absolute;
  width: 191px;
  height: 210px;
  top: 2259px;
  left: 15px;

  /*typography*/
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
}

.explicacaofrito {
  display: flex;
  align-items: center;
}

.carneporco {
  position: absolute;
  width: 184px;
  height: 276px;
  top: 2470px;
  left: 15px;
}

.txtfrito {
  /*layout*/
  position: absolute;
  width: 191px;
  height: 210px;
  top: 2490px;
  left: 221px;

  /*typography*/
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: right;
}

.finalpagina3 {
  position: absolute;
  width: 446.46px;
  height: 111.32px;
  top: 2700px;
  left: -8px;
}

/*Dinner*/
.dinner {
  width: 430px;
  height: 992px;
  top: -467px;
  left: 1195px;
  background: #b7f7fd;
}

.tituloOfertas {
  /*layout*/
  position: relative;
  width: 424px;
  height: 137px;
  top: 53px;
  left: 6px;
  border: 1px 0px 0px 0px;
  color: #ffffff;

  /*contorno*/
  -webkit-text-stroke: 1px rgb(100, 100, 100);

  /*sombra*/
  text-shadow: -5px 6px 4px rgba(0, 0, 0, 0.25);

  /*typography*/
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.informacao{
  display: grid;
  grid-template-columns: 50px 50px;
  margin: 40px;
  column-gap: 160px;
  row-gap: 100px;
}

/*Creme de galinha*/
.titulocg{
  /*layout*/
  position: relative;
  width: 158px;
  height: 23px;
  top: -565px;
  left: 40px;

  /*typography*/
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.paragrafocg{
  /*layout*/
  position: relative;
  width: 146px;
  height: 54px;
  top: -570px;
  left: 40px;

  /*typography*/
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

/*Frango assado*/
.titulofa{
  /*layout*/
  position: relative;
  width: 158px;
  height: 18px;
  top: -642px;
  left: 250px;

  /*typography*/
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.paragrafofa{
  /*layout*/
  position: relative;
  width: 146px;
  height: 54px;
  top: -643px;
  left: 250px;

  /*typography*/
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

/*salada*/
.titulosalada{
  /*layout*/
  position: relative;
  width: 158px;
  height: 18px;
  top: -456px;
  left: 40px;

  /*typography*/
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.paragrafosl{
  /*layout*/
  position: relative;
  width: 146px;
  height: 54px;
  top: -458px;
  left: 40px;

  /*typography*/
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

/*Farofa c/ carne*/
.titulofarofacarne{
  /*layout*/
  position: relative;
  width: 158px;
  height: 18px;
  top: -528px;
  left: 252px;

  /*typography*/
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.paragrafofcc{
  /*layout*/
  position: relative;
  width: 146px;
  height: 54px;
  top: -528px;
  left: 247px;

  /*typography*/
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

/*Baiao de dois*/
.titulobd{
  /*layout*/
  position: relative;
  width: 158px;
  height: 23px;
  top: -342px;
  left: 42px;

  /*typography*/  
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.paragrafobd{
  /*layout*/
  position: relative;
  width: 146px;
  height: 54px;
  top: -346px;
  left: 42px;

  /*typography*/
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

/*macarronada*/
.titulomr{
  /*layout*/
  position: relative;
  width: 158px;
  height: 23px;
  top: -420px;
  left: 252px;

  /*typography*/
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.paragrafomr{
  /*layout*/
  position: relative;
  width: 146px;
  height: 54px;
  top: -425px;
  left: 249px;

  /*typography*/
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.fundobranco{
  position: relative;
  width: 446.46px;
  height: 111.32px;
  top: -405px;
  left: 0px;
  color: #d1fbff;
}